<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      a{
        color: #000;
        font-weight: 500;
      }
    </style>
</head>
<body>
    <div class="container ">
        <br>
        <h2>Select a template</h2>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <a href="/certificate-maker/1">
                    <img class="img-fluid" src="/public/img/simple.png"  alt="">
                </a>
                <br>
                <br>
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h3>This is Free Certificate</h3>
                      </div>
                    </div>
                  </div>

            </div>
            <div class="col-md-6">
                <a href="/certificate-maker/2">
                    <img class="img-fluid" src="/public/img/advanced.png" alt="">
                </a>

                <br>
                <br>
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h3>This is Free Certificate but you need to login</h3>
                      </div>
                    </div>
                  </div>

            </div>
            </div>
        </div>
    <div class="container ">
          <br>
          <div>
            <% if (userRole === 'NORMAL') { %>
              <button type="button" class="btn btn-primary text-white"><a href="/user/seepdf">SEE HISTORY</a></button>
              <br>
            <% } else if (userRole === 'ADMIN') { %>
              <button type="button" class="btn btn-primary"><a href="/admin/seepdf">SEE HISTORY</a></button>
              <br>
            <% } else { %>
            <% } %>
            
          </div>
          <br>
          
 
        </div>

</body>
</html>